#board {
    width: 800px;
    height: 800px;

    .cell {
        width: 100px;
        height: 100px;
    }

    .odd-row > div:nth-child(even),
    .even-row > div:nth-child(odd) {
        background-color: #545f7e;
    }

    .piece {
        background-size: 64%;
    }
}
